@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1,h2 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
}

h2 {
    font-size: 300%;
}

h3,h4 {
    text-transform: uppercase;
    color: #BDBDBD;
    font-weight: 700;
    margin-bottom: 40px;
}

h3 {
    font-size: 75%;
}

section {
    padding: 100px 0;
}

.orange-text {
    color: #FE5303;
}

.row {
    width: 80%;
    margin: 0 auto;
}

header {
    color: #fff;
    background-image: url("./images/image-1.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 24px 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #FE5303;
    padding: 1em;
    font-weight: 600;
    color: #fff;
    border: none;
    border-radius: 3.25em;
    -webkit-border-radius: 3.25em;
    -moz-border-radius: 3.25em;
    -ms-border-radius: 3.25em;
    -o-border-radius: 3.25em;
}

.header-button-text {
    display: inline-block;
    margin-left: 8px;
}

.headline {
    font-size: 400%;
    max-width: 50%;
    margin-bottom: 24px;
}

.adventure-line {
    font-size: 120%;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.adventure-line span {
    margin-right: 24px;
}

.adventure-line .play-button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.form-container {
    display: flex;
}

.form-container button {
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.form-title {
    color: #bdbdbd;
    margin-bottom: 12px;
}

.booking-form {
    background-color: #fff;
    display: flex;
    flex: 1;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    margin-right: 12px;
}

.input-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 24px;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
}

.booking-form .input-container:first-child,
.booking-form .input-container:last-child {
    border: none;
}

.input-container input,
.input-container select {
    flex: 1;
    border: none;
    font-family: inherit;
    font-weight: 600;
    outline: none;
}

.about-content {
    display: grid;
    grid-template-columns: auto auto;
    gap: 4rem;
}

.about-image-container img {
    border-radius: 14px;
    width: 100%;
    height: auto;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.about-content .about-paragraph-container {
    display: flex;
    flex-direction: column;
}

.about-paragraph {
    color: #828282;
    margin: 14px 0;
}

.accomodations-section {
    padding-top: 0;
}

.accomodations-title-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accomodations-title-line a {
    text-decoration: none;
    color:#FE5303;
}

.accomodations-content {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, auto);
    gap: 4rem;
}

.accomodations-content .accomodations-image-container:first-child {
    grid-column: 1 / span 2;
}

.accomodations-content .accomodations-image-container img {
    border-radius: 14px;
    width: 100%;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.testimonials-section {
    background-color: #f2f2f2;
}

.testimonials-content {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.testimonial-box {
    background-color: #fff;
    font-family: 'Playfair Display', serif;
    height: 320px;
    padding: 32px 24px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.testimonial-box .testimonial-title {
    font-size: 120%;
    color: #333;
    margin-bottom: 24px;
}

.testimonial-box .testimonial-text {
    color: #4f4f4f;
    line-height: 180%;
}

.testimonial-author {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.testimonial-author-image {
    width: 3rem;
    height: auto;
}

.testimonial-author-origin {
    color: #bdbdbd;
    font-size: 75%;
}

footer {
    padding: 58px 0;
}

.copyright-text {
    font-family: 'Playfair Display', serif;
}

